.title-card {
    background-color: black;    
    color: white;
    width: 90%;
    margin:auto;
    
    height: 200px;



    
}

.table {
    
    background-color:lightslategray;
    margin-bottom: auto;
    margin: auto;
    max-width: 90%;
    position: relative;


}

.form-group {

    
    width:80%;
    margin: auto;
    margin-bottom: auto;
    max-width: 90%;
    position: relative; 
    text-align:left;   

}
